.display-4 {
    background: rgb(36, 36, 34);
    color: #fff;
    height: 90px;
    text-align: center;
}

img {
    width: 500px;
    height: 400px;
}

input[type=file] {
    padding: 5px;
    background: gray;
    border: 2px solid black;
}

body {
    background-color: rgb(222, 228, 236) !important;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 6px !important;
    color: #4C535A;
    border-color: border-color: #00AA66;
    border-style: solid;
    background-color: #E9ECEF;
    border: 1px solid gray;
}


#carImage,
#plateNo {
    margin: 30px 10px 15px 80px;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 300px;
    max-width: 500px;
    height: 400px;
    max-height: 800px;
    align-self: center;
}

#plateNo {
    border: 1px solid black;
    background: rgb(158, 167, 175);
}
