/*.display-4{
    background: #0195C5;
}

 img{
    width: 500px;
    height: 400px;
}
input[type=file]{
  padding: 5px;
  background: gray;
  border: 2px solid black;
}
form{
    width: 500px;
    margin: 0 auto;
}

body{
    background-color: #B2B3B5 !important;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 6px !important;
    color: #4C535A;
    border-color: border-color: #00AA66;
    border-style: solid;
    background-color: #E9ECEF;
    border: 1px solid gray;
} */
.display-4 {
    background: rgb(36, 36, 34);
    color: #fff;
    height: 90px;
    text-align: center;
}

input[type=file] {
    padding: 5px;
    background: gray;
    border: 2px solid black;
}
body {
    background-color: rgb(222, 228, 236) !important;
}
img {
    max-width: 500px;
    max-height: 400px;
}

input.mybtn{
    width: 100px;
    height: 40px;
    border-radius: 6px !important;
    color: #4C535A;
    border-color: border-color: #00AA66;
    border-style: solid;
    background-color: #E9ECEF;
    border: 1px solid gray;
} 
.mybtn{
    background-color: #E9ECEF;
    color: black;
}
input.mybtn:hover{
    background-color: #242422;
    color: white;
}
.mylabel{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.custom-file{
    width: 39.5vw;
    margin-left: 29.7vw;
    max-width: 500px !important;
    max-height: 400px !important;
}
